@model IEnumerable<conciertos.Models.Concierto>
@{
    ViewData["Title"] = "VideoGame";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Listar Concierto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Fecha
            </th>
            <th>
                Precio (S/.)
            </th>
            <th>
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.artista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td> 
        </tr>
}
    </tbody>
</table>